{% extends "plugins/admin/templates/partials/base.html" %}

{% block breadcrumbs %}
    {% if isCurrentUrl('admin.accounts.index') or
        isCurrentUrl('admin.accounts.edit') or
        isCurrentUrl('admin.accounts.add') %}
        {% if query.id %}
            <li class="nav-item">
                <a class="nav-link" href="{{ urlFor('admin.accounts.edit') }}?id={{ query.id }}">{{ query.id }}</a>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block tail %}
<script>
    function confirmationAccountDelete(event, id) {
        event.preventDefault(); 
        var confirmationModal = new bootstrap.Modal(document.getElementById('confirmation-account-delete-modal')).show();
        $("#confirmation-account-delete-modal .js-submit").on("click", function() {
            document.getElementById('delete-account-id-' + id).submit();
        });
    }
</script>

<div id="confirmation-account-delete-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ __('admin_confirmation_required') }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>{{ __('accounts_admin_confirmation_required_for_account_delete') }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('admin_cancel') }}</button>
          <button type="button" class="btn btn-primary js-submit" data-bs-dismiss="modal">{{ __('admin_yes_iam_sure')|raw }}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}