{% extends "plugins/accounts-admin/templates/partials/base.html" %}

{% block content %}
    {% if (accountsList | length > 0) %}
    {{ flextype.blueprints.render('accounts-admin', {}, {'query': query}) }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="50"></th>
                            <th>
                                {{ __('accounts_admin_email') }}
                            </th>
                            <th>
                                {{ __('accounts_admin_roles') }}
                            </th>
                            <th>
                                {{ __('accounts_admin_state') }}
                            </th>
                            <th width="50"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in accountsList %}
                            <tr>
                                <td class="text-center">
                                    <i class="icon">{{ icon('person', 'bootstrap') }}</i>
                                </td>
                                <td class="ps-0">
                                    <a href="{{ urlFor('admin.accounts.edit') }}?id={{ account.id }}">{{ account.id }}</a>
                                </td>
                                <td>
                                    {{ account.roles }}
                                </td>
                                <td>
                                    {{ account.state }}
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle dropdown-dots" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ icon('three-dots', 'bootstrap') }}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="{{ urlFor('admin.accounts.edit') }}?id={{ account.id }}">
                                                    <span class="pe-3 d-flex">{{ icon('pencil', 'bootstrap') }}</span> {{ __('admin_edit') }}
                                                </a>
                                            </li>
                                            {% if flextype.acl.getUserLoggedInEmail() != account.id %}
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="javascript:;" onclick="confirmationAccountDelete(event, '{{ account.id }}');">
                                                    <span class="pe-3 d-flex">{{ icon('trash', 'bootstrap') }}</span> {{ __('admin_delete') }}
                                                </a>
                                            </li>
                                            <form id="delete-account-id-{{ account.id }}" action="{{ urlFor('admin.accounts.deleteProcess') }}" method="POST" style="display: none;">
                                                {{ csrf() }}
                                                <input type="hidden" name="account-id" value="{{ account.id }}">
                                            </form>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
        <div class="text-center flex justify-center items-center h-full">
            <div>
                <i class="icon icon--4xl">{{ icon('users', 'fontawesome|solid') }}</i>
                <h3 class="text-2xl pt-4 pb-8">{{ __('accounts_admin_you_have_no_acccounts') }}</h3>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block tail %}
    <script>
        function deleteAccount(email, row_num) {
            if (dropdown[row_num]) {
                dropdown[row_num].hide();
            }
            Swal.fire(
                {title: "{{ __('accounts_admin_confirmation_required') }}", text: "{{ __('accounts_admin_confirmation_required_for_account_delete') }}", showCancelButton: true, confirmButtonText: "{{ __('admin_yes_iam_sure')|raw }}", cancelButtonText: "{{ __('admin_cancel') }}", reverseButtons: true}
            ).then((result) => {
                if (result.value) {
                    document.getElementById('delete-account-email-' + email).submit();
                }
            });
        }
    </script>
{% endblock %}
